.gallery__button {
  background-image: url("../../../images/heart.svg");
  background-color: transparent;
  width: 22px;
  height: 19px;
  object-fit: cover;
  border-style: none;
  margin-top: 30px;
  padding: 0;
}

.gallery__button:hover {
  opacity: 0.5;
}

.gallery__button:active {
  background-color: black;
}
