.gallery__delete-button {
    background-image: url("../../../images/bin.svg");
    background-color: transparent;
    width: 18px;
    height: 19px;
    object-fit: contain;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .gallery__delete-button:hover {
    opacity: 0.5;
  }

  /* .gallery__delete-button:active {
    background-color: black;
  } */
