.popup__grid {
  display: grid;
  grid-template-columns: 430px 32px;
  grid-template-rows: 32px 330px;
  gap: 8px 8px;
  position: fixed;
  top: 155px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 581px) {
  .popup__grid {
    display: flex;
    row-gap: 16px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

