.popup__save-button_type_inactive {
  background-color: transparent;
  /* color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2); */
  color:#C4C4C4;
  border: 1px solid #C4C4C4;
}
.popup__save-button_type_inactive:hover {
    opacity: 1;
}

