.popup__text {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0 , 0, .5);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  margin-left: 36px;
  margin-right: 36px;
}
