.popup__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 13px;
  margin: 0 36px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0 , 0, .2);
  width: 358px;
}

@media screen and (max-width: 581px) {
  .popup__text {
    margin: 0 22px;
    width: 238px;
  }
}
